[submodule "thirdparty/idl"]
	path = thirdparty/idl
	url = git@git.sambaserver.eprosima.com:eprosima-common/idl.git
[submodule "thirdparty/fastcdr"]
	path = thirdparty/fastcdr
	url = git@git.sambaserver.eprosima.com:fastcdr/fastcdr.git
[submodule "thirdparty/boost-threadpool"]
	path = thirdparty/boost-threadpool
	url = https://github.com/AlexMarlo/boost-threadpool.git
[submodule "thirdparty/fastrtps"]
	path = thirdparty/fastrtps
	url = git@git.sambaserver.eprosima.com:rtps/rtps.git
