[submodule "thirdparty/idl"]
	path = thirdparty/idl
	url = http://github.com/eProsima/IDL-Parser.git
[submodule "thirdparty/fastcdr"]
	path = thirdparty/fastcdr
	url = http://github.com/eProsima/Fast-CDR.git
[submodule "thirdparty/boost-threadpool"]
	path = thirdparty/boost-threadpool
	url = https://github.com/AlexMarlo/boost-threadpool.git
[submodule "thirdparty/fastrtps"]
	path = thirdparty/fastrtps
	url = http://github.com/eProsima/Fast-RTPS.git
